<div class="container">
    <div class="col-md-4 offset-md-4">
        <h5 class="text-center">Edit your username</h5>
        <form action="edit/{{userid}}" method="post">
            <div class="form-group">
                <label for="username">username</label>
                <input type="username" name="username" placeholder="Enter your username" class="form-control">
            </div>
            <button type="submit" class="btn btn-primary mx-auto">Edit</button>
        </form>
    </div>
</div>